pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/store/
# Where the :local-process demos keep the target data and log.
/local-target/
.clj-kondo/.cache/
.lsp/

